.container
  .row
    .col.s12
      .card
        .card-action
          .center(ng-if="searching")
            .preloader-wrapper.active
              .spinner-layer.spinner-blue-only
                .circle-clipper.left
                  .circle
          h5(translate="home.tabs.connections.title.connections")
          table.bordered.connections
            thead
              tr
                th Pubkey
                th WS2PID
                th Member
                th Type
                th Connection
            tbody
              tr(ng-repeat="peer in info.connections.level1 track by $index" ng-class="{ privileged: peer.privileged, prefered: peer.prefered }")
                td {{ peer.pubkey.slice(0, 20) }}
                td {{ peer.ws2pid }}
                td {{ peer.uid }}
                td OUTCOMING
                td {{ peer.handle }}
              tr(ng-repeat="peer in info.connections.level2 track by $index" ng-class="{ privileged: peer.privileged, prefered: peer.prefered }")
                td {{ peer.pubkey.slice(0, 20) }}
                td -
                td {{ peer.uid }}
                td INCOMING
                td {{ peer.handle }}
              tr(ng-repeat="peer in info.connections.disconnected track by $index" ng-class="{ privileged: peer.privileged, prefered: peer.prefered }")
                td {{ peer.pubkey.slice(0, 20) }}
                td -
                td -
                td DISCONNECTED
                td -
          .legend
            h5(translate="home.tabs.connections.legend.title")
            span.prefered(translate="home.tabs.connections.legend.prefered")
            span.privileged(translate="home.tabs.connections.legend.privileged")
            span.prefered.privileged(translate="home.tabs.connections.legend.prefered.and.privileged")
          h5(translate="home.tabs.connections.title.network")
          table.bordered.connections
            thead
              tr
                th API
                th Pubkey
                th WS2PID
                th Member
                th Step
                th HEAD
                th Software
                th Prefix
                th Free Rooms
            tbody
              tr(ng-repeat="head in heads | orderBy:'-blockstamp' track by $index " ng-class="{ privileged: head.privileged, prefered: head.prefered }")
                td {{ head.api }}
                td {{ head.pubkey.slice(0, 20) }}
                td {{ head.ws2pId }}
                td {{ head.uid }}
                td {{ head.step }}
                td {{ head.blockstamp.slice(0, 25) }}
                td {{ head.software }} {{ head.softVersion }}
                td {{ head.prefix }}
                td {{ head.freeRooms }}