main(class="syncMain")
  .container
    .row
      .s12.center
        .card
          .card-content
            i.fa.fa-cloud-download.fa-5x
            h1.card-title(translate="sync.title")
            p(translate="sync.message")

          .card-action
            form.row
              .input-field.col.s12.m3
                p
                  input(type="radio", name="groupeMode", value="simplified", id="radio1", ng-model="sync_mode", ng-disabled="synchronizing")
                  label(for="radio1") {{ 'sync.mode.simplified' | translate }}
                p
                  input(type="radio", name="groupeMode", value="manual", id="radio2", ng-model="sync_mode", ng-disabled="synchronizing")
                  label(for="radio2") {{ 'sync.mode.manual' | translate }}
              .input-field.col.s12.m6
                .input-field.col.s12(ng-show="sync_mode == 'simplified'")
                  select.browser-default(ng-model="simplified_host", ng-change="checkNode()", ng-disabled="synchronizing")
                    option(value="", disabled, selected) {{ 'sync.simplified.default_option' | translate }}
                    optgroup(label="{{ 'sync.simplified.currency' | translate }} « Ğune »")
                      option(value="g1.duniter.org:443") https://g1.duniter.org {{ 'sync.simplified.main_mirror' | translate }}
                      option(value="g1.duniter.org:80") http://g1.duniter.org {{ 'sync.simplified.other mirror' | translate }}
                    optgroup(label="{{ 'sync.simplified.currency' | translate }} « Ğune-TEST »")
                      option(value="g1-test.duniter.org:443") https://g1-test.duniter.org {{ 'sync.simplified.main_mirror' | translate }}
                      option(value="g1-test.duniter.org:80") http://g1-test.duniter.org {{ 'sync.simplified.other mirror' | translate }}
                  label {{ 'sync.simplified.choose' | translate }}

                .input-field.col.s8(ng-show="sync_mode != 'simplified'")
                  i.prefix.material-icons language
                  input#host(type="text" ng-model="host")
                  label(for="host") {{ 'sync.host' | translate }}

                .input-field.col.s4(ng-show="sync_mode != 'simplified'")
                  i.prefix.fa.fa-plug
                  input#port(type="number" ng-model="port")
                  label(for="port") {{ 'sync.port' | translate }}

              .col.s12.m3
                .preloader-wrapper.active.small(ng-if="checking")
                  .spinner-layer.spinner-blue-only
                    .circle-clipper.left
                      .circle
                .input-field(ng-show="sync_mode != 'simplified'")
                  button.btn-large.waves-effect.waves-light(ng-show="!checking" ng-disabled="synchronizing || (sync_mode != 'simplified' && !(host && port))" ng-click="checkNode()")
                    i.left.fa.fa-wifi
                    span(translate="sync.check")

            .row
              .col.s12
                blockquote.card-panel.left-align(ng-show="sync_error") {{ sync_error | translate }}
                blockquote.info.card-panel.left-align(ng-show="sync_message") {{ sync_message }}

            .row: button.btn-large.waves-effect.waves-light(ng-disabled="!checked_host || synchronizing" ng-click="startSync()")
              i.left.fa.fa-cloud-download
              span(translate="sync.start")

            .row(ng-show="synchronizing")
              .col.s8.m9
                .progress
                  .determinate(style="width: {{ down_percent }}%")
              .col.s4.m3.left-align
                span Downloading... ({{ down_percent }}%)
              .col.s8.m9
                .progress
                  .determinate(style="width: {{ apply_percent }}%")
              .col.s4.m3.left-align
                span Applying... ({{ apply_percent }}%)

            blockquote.card-panel.left-align(ng-show="sync_failed") {{ 'sync.failed' | translate }}